*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#app_container {
    background-color: rgb(255,253,169);
    padding: 5px;
    width: 500px;

}

th{
    background-color: rgb(212,253,214);
    color: rgb(4,52,255);
    text-align: left;
    padding: 5px;
    font-size: 25px;
}

td{
    min-width: 100px;
}